setuptools
pre-commit
tox
black
pytest
pylint
mkdocs
mkdocs-material
mkdocstrings
mknotebooks
bump2version
faiss==1.5.3
faiss_cpu==1.7.2
keras==2.10.0
numpy==1.23.3
scikit_learn==1.2.0
scipy==1.9.1
setuptools==54.1.2
tensorflow==2.10.0
tensorflow_datasets==4.7.0